{% extends 'altura/base.html' %}

{% block title %}Empresa{% endblock %}

{% block content %}

  <div class="container col-sm-8 empresa-bg">
    <h2 class="text-center">Bienvenidos a nuestra empresa!</h2>
    <h1 class="text-center">SOLTEC ALTURA</h1>
    <span class="text-justify">

      <p>
      Soltec Altura, S.L., Soluciones Técnicas de Altura, se funda oficialmente el 13 de Diciembre 2004, con el fin de potenciar la comercialización de los productos de la línea HACA en España y Portugal.
      </p>

      <p>
      La firma nace con la intención de dar una rápida respuesta y un dinamismo que se adapta perfectamente a los tiempos actuales en materia de seguridad. La línea HACA fue introducida en el mercado Español en el año 1996 con el producto estrella de esa época: la escalera HACA móvil, muy conocida en el mundo de las telecomunicaciones.
      </p>

      <p>
      Posteriormente llegaron las escaleras “espina de pez” en aluminio, para instalaciones fijas, y el sistema HACA de raíl para instalar sobre escaleras ya existentes. Este último producto de vanguardia en el sector de las torres eólicas, requería y actualmente requiere una especial dedicación, dado a que el campo de las energías revocables está en pleno auge.
      </p>

      <p>
      Soltec Altura S.L. nace para estar más cerca de del cliente Español y Portugués, y así poder brindar un asesoramiento técnico anterior a la adquisición de un sistema de seguridad anticaídas. Realizamos el cálculo de la solución óptima para cada caso específico y un servicio post venta, especialmente en lo que se refiere a la asistencia técnica, tanto en el trabajo de campo para montar correctamente el sistema.
      </p>

      <p>
      Queremos resaltar la importancia de la instrucción y formación para un uso correcto del material, ya que de ello depende la seguridad de sus operarios y trabajadores.
      </p>

      <p></p>
      Somos conscientes de que cada cliente debe tener la posibilidad de contar con la correspondiente formación de uso del sistema HACA. Por ello, desde el año 2005 intentamos estar cada vez más cerca.
      </p>
    </span>
  </div>

{% endblock %}
