{% extends 'altura/base.html' %}
{% block content %}
  <div class="Jumbotron text-center">
    <h1>Bienvenidos a Soltec Altura</h1>
  </div>
  <div class="content-fluid">
    <img src="static/images/logosoltec.jpg" alt="Soltec Altura" width="320" height="104">
  <body onload="MM_preloadImages('static/images/ENTRADA_01-over.jpg')">
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
      <tbody><tr>
        <td valign="top" align="center"><table width="857" cellspacing="0"   cellpadding="0" border="0">
          <tbody>
            <tr>
              <td valign="top" height="145" align="left"><table width="100%" cellspacing="0" cellpadding="0" height="145" border="0">
                <tbody><tr>
                  <td width="56" valign="top" align="right"><img src="" width="34" height="145"></td>
                  <td class="logo_padding" width="20" valign="bottom" bgcolor="#E2E3E5" align="left">&nbsp;</td>
                  <td class="logo_padding" width="448" valign="bottom" bgcolor="#E2E3E5" align="left"><img src="static/images/logosoltec.jpg" alt="Soltec Altura" width="320" height="104"></td>
                  <td width="2" valign="bottom" bgcolor="#E2E3E5" align="left"></td>
                  <td class="topmenu_padding" width="256" valign="bottom" bgcolor="#E2E3E5" align="right"><a href="http://www.haca.com/" target="_blank" onmouseover="MM_swapImage('Image39','','static/images/ENTRADA_01-over.jpg',1)" onmouseout="MM_swapImgRestore()"><img src="static/images/ENTRADA_01-over.jpg" alt="Haca Leitern" name="Image39" width="122" height="52" border="0"></a></td>
                  <td class="topmenu_padding" width="15" valign="bottom" bgcolor="#E2E3E5" align="right">&nbsp;</td>
                  <td width="60" valign="top" align="left"><img src="static/images/logo_right.gif" width="34" height="145"></td>
                </tr></tbody></table>
              </td>
            </tr>
            <tr>
              <td valign="top" align="left"><table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                  <td width="52" valign="top" align="right"><img src="static/images/header_left.gif" width="17" height="157"></td>
                  <td valign="top" align="left"><a href="empresa.html"><img src="static/images/image-1.png" width="751" height="288"></a></td>
                  <td width="54" valign="top" align="left"><img src="static/images/header_right.gif" width="17" height="157"></td>
                </tr></tbody></table>
              </td>
            </tr>
          <tr>
            <td valign="top" height="44" align="left"><table width="857" cellspacing="0" cellpadding="0" height="56" border="0">
              <tbody><tr>
                <td width="52" valign="top" align="left">&nbsp;</td>
                <td class="footer" valign="middle" align="right"><a href="index.html" class="footer">HOME</a><span class="Estilo1"> |</span> <a href="empresa.html" class="footer">EMPRESA</a><span class="Estilo1"> |</span> <a href="productos.php" class="footer">PRODUCTOS</a> <span class="Estilo1"> |</span> <a href="cursos.html" class="footer">CURSOS DE FORMACIÓN</a> <span class="Estilo1"> |</span> <a href="articulos.php" class="footer">NOTICIAS Y ARTÍCULOS</a><span class="Estilo1"> |</span> <a href="mailto:info@soltecaltura.com" class="footer">CONTACTA</a><br>
                  © 2007 SOLTEC ALTURA<span class="Estilo1"> |</span>  Passatge de L´Avellarol, 35
                          43008 - Cala Tamarit - TARRAGONA
              <span class="Estilo1"> |</span>  Tel: +34 653 94 06 97 <span class="Estilo1"> |</span>  Fax: +34 977 20 80 62 <a href="http://www.rambladigital.com" target="_blank"> </a></td>
                <td width="54" valign="top" align="left">&nbsp;</td>
              </tr></tbody></table>
            </td>
          </tr>
        </tbody></table>
        <table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody>
          <tr>
            <td height="14" background="static/images/sombraabajo.jpg">&nbsp;</td>
          </tr>
        </tbody></table>
        <p>&nbsp;</p>
      </td>
    </tr></tbody>
  </table>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
    _uacct = "UA-2651797-1";
    urchinTracker();
    </script>
  </body> </div>

{% endblock %}
