{% extends 'altura/base.html' %}

{% block content %}
<div class="container mt-3 bg-success">
  <div class="jumbotron bg-primary">
    <div class="row">
      <div class="col-sm-8">
        <h2>Bienvenidos a:</h2>
        <!--logosoltec  -->
        <a href="{% url 'empresa' %}">
          <img class="border border-danger" src="static/altura/img/logosoltec.jpg" alt="SoltecAltura logo">
        </a>
        <img id="f05297450" src="static/altura/img/05297450.jpg" alt="foto_05297450">
      </div>
      <div class="col-sm-4 float-right">
        <p class="text-right">Representantes de:</p>
        <!-- target="_blank" opens the page in newtab  -->
        <a href="https://www.haca.com/index.php/en/" target="_blank">
        <img class="hacalogo float-right" src="static/altura/img/hacalogo.png"></a>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top:4px">
  <div class="row">
    <div class="col-sm-4">
      <h2>About Me</h2>
      <h5>Photo of me:</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>
{% endblock %}
