
.fakeimg {
    height: 200px;
    background-color: orange;
    /* background: #aaa; */
}

.empresa-info {
  background: url("../../altura/img/soltecaltura_logo_only.jpg") no-repeat;
   /* no-repeat; */
   background-size: cover;
}

.empresa-side-pic {
  background: url("../../altura/img/empresa_bg_pic.jpg");
  background-size: cover;
}

.hacalogo {
  vertical-align: baseline;
  height: 60px;
  width: 160px;
}

#f05297450 {
  height: 104px;
  width: 104px;
}
#foto_carritos {
  /* background-size: auto; */
}

.border-carritos {
  border-style: solid;
  border-color: silver;
}

/* This is important that the top is set to some px or else the sticky doesn't work */
.sticky {
  position: sticky;
  top: 2px;
}

/* .tall {
  height: 100vh;
} */
