{% load staticfiles %}

<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="icon" href="data:;base64,=">
    <!--The above and below lines should be removed for productions.-->
    <!--This next lines incase the above one did not work on the environment aws3-->
    <!--<link rel="shortcut icon" href="">-->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                                                    <!-- , shrink-to-fit=no -->
    <!-- This is to add some more personal touches to the page etc. -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>

    <!-- This is the CDN option, which is faster and uses cache to save time when revisiting. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>{% block title %}SoltecAltura{% endblock %}</title>

  </head>

  <body>
    <div class="container-fluid bg-light" id="top-page">
      <nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
        <a href="{% url 'home' %}" class="navbar-brand d-flex w-30 mr-auto">
          <img src="{% static 'img/soltecaltura_logo_only.jpg' %}" width="40px" height="40px" alt="Soltec Altura"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'empresa' %}">Empresa</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'cursos_formacion' %}">Cursos De Formacion</a></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="#bottom-page">Contactar</a>
              </li>
            </ul>
            <!-- TODO: This commented for the search bar for future use -->
            <!-- <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Right</a>
                </li>
                <li class="float-right">
                  <form class="form-inline" action="/action_page.php">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Buscar</button>
                  </form>
                </li>
            </ul> -->
            <ul class="nav navbar-nav ml-auto justify-content-end bg-white">
              <li class="float-right">
                <a href="https://www.haca.com/index.php/en/" class="bg-light"  target="_blank"><img src="{% static 'img/hacalogo-solo.png' %}" width="60px" height="40px" alt="Haca"></a>
              </li>
            </ul>
        </div>
      </nav>

      {% block content %}{% endblock %}

      {% block cookies %}
        <div id="redim-cookiehint">
          <div class="cookiecontent">
            Cookies make it easier for us to provide you with our services. With the usage of our services you permit us to use cookies.	</div>
            <div class="cookiebuttons">
              <a id="cookiehintinfo" rel="nofollow" href="{% url 'empresa' %}" class="btn">More information</a>
              <a id="cookiehintsubmit" rel="nofollow" href="{% url 'home' %}" class="btn">Ok</a>
              <a id="cookiehintsubmitno" rel="nofollow" href="{% url 'home' %}" class="btn">Decline</a>
            </div>
          <div class="clr"></div>
        </div>
      {% endblock %}


      <!-- footer     -->

      <div class="jumbotron text-center" style="m-0 .text-info" id="bottom-page">
        <span>
          <h3><a href="{% url 'home' %}">
            <img src="{% static 'img/soltecaltura_logo_only.jpg' %}" with="40" height="40"></img>
            Soltec Altura
          </a> <br>S.L., Soluciones Técnicas de Altura</h3>
          <p>© 2007 SOLTEC ALTURA |  Cala Tamarit - TARRAGONA | Tel: +34 653 94 06 97 | Fax: +34 977 20 80 62</p>
          <p id="top-page"><a href="#top-page">Volver arriba!</a></p>
        </span>
      </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
