{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container-fluid bg-light">
    <div class="container">
      <div class="container col-sm-10 mt-2">
        <img src="{% static 'img/image-portada.png' %}" width="100%" alt="foto-portada"></img>
      </div>
      <div class="container col-md-10">
        <div class="col-sm-12 mt-4">
          <div class="row">
            <!--logosoltec  -->
            <div class="col-sm-6">
                <h2>Bienvenidos a:</h2>
                <a href="{% url 'empresa' %}">
                  <img src="{% static 'img/logosoltec.jpg' %}" alt="SoltecAltura logo"></a>
              </div>
            <div class="col-sm-6">
                <div class="float-right">
                  <p>Representantes de:</p>
                  <!-- target="_blank" opens the page in newtab  -->
                  <a href="https://www.haca.com/index.php/en/" target="_blank">
                    <img src="{% static 'img/hacalogo.png' %}"></a>
                </div>
              </div>
          </div>
        </div>
        <div class="bg-info m-4 p-2">
          <span class="text-center">
            <h2>Fotos de carritos:</h2>
          </span>
        </div>
        <div class="row border mb-4">
            <div class="col-sm-6">
                <img src="{% static 'img/carrito1.png' %}" alt="Carrito">
            </div>
            <div class="col-sm-6">
              <span>Ejemplo 1, Este carrito...</span>
            </div>
          </div>
        <div class="row border mb-4">
            <div>
                <img src="{% static 'img/05297450.jpg' %}" alt="05297450">
            </div>
            <div class="ml-2">
              <span>foto 2,/////////////////////////////////////////////</span><br>
              <span>foto,</span><br>
              <span>foto aqui</span>
              <p>aqui</p>
              <p>paragraph</p>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
