{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Bienvenidos{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/foto_base.png' %}" alt="Foto base">
    </div>
  </div>

  <div id="redim-cookiehint">
    <div class="cookiecontent">
      Este sitio web utiliza cookies propias y de terceros para mejorar su experiencia de navegacion. Al continuar navegando acepta los terminos.
    </div>
    <div class="cookiebuttons">
      <a id="cookiehintinfo" rel="nofollow" href="{% url 'empresa' %}" class="btn">Mas Informacion</a>
      <a id="cookiehintsubmit" rel="nofollow" href="{% url 'home' %}" class="btn">Aceptar</a>
      <a id="cookiehintsubmitno" rel="nofollow" href="/" class="btn">Declinar</a>
    </div>
    <div class="clr"></div>
  </div>

{% endblock %}
