{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Practice Page{% endblock %}

{% block content %}

<div id="redim-cookiehint">
  <div class="cookiecontent">
    Cookies make it easier for us to provide you with our services. With the usage of our services you permit us to use cookies.	</div>
    <div class="cookiebuttons">
    <a id="cookiehintinfo" rel="nofollow" href="{% url 'empresa' %}" class="btn">More information</a>
    <a id="cookiehintsubmit" rel="nofollow" href="{% url 'home' %}" class="btn">Ok</a>
    <a id="cookiehintsubmitno" rel="nofollow" href="{% url 'home' %}" class="btn">Decline</a>
    </div>
  <div class="clr"></div>
</div>

{% endblock %}
