{% extends 'base.html'%}
{% load static %}

{% block title %}Practice-Bootstrap{% endblock %}

{% block content %}

  <div class="container">
    <h1>Hello World!</h1>
    <div class="row">
      <div class="col-sm-6">Left Column</div>
      <div class="col-sm-6">Right Column</div>
    </div>

    <!-- Add an image. -->
    <figure class="figure">
      <img src="{% static 'img/bg_rojo.jpg'%}" class="figure-img img-fluid rounded" alt="image"><figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>

    <!-- Using media -->
    <div class="media">
      <img src="{% static 'img/sample_landScape1.jpg' %}" class="mr-3" alt="image">
      <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Media object description text.
      </div>
    </div>

    <!-- Code -->
    <code>Used to display inline code in a paragraph</code>
    <pre class="pre-scrollable">
      Display multiple lines of code. Use .pre-scrollable class to set a max-height of 340px and provide a y-axis scrollbar.
    </pre>
    <var>Used to display math variables</var>
    <kbd>Used to display deyboard input</kbd>
    <samp>Used to display sample output</samp>

  </div>

  <nav class="navbar navbar-toggleable-md navbar-dark bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active"></li>
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        <li class="nav-item"></li>
        <a class="nav-link" href="#">Features</a>
        <li class="nav-item"></li>
        <a class="nav-link" href="#">Pricing</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarNavDropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Dropdown link</a>
          <div class="dropdown-menu" aria-labelledby="navbarNavDropdownLink" >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Second action</a>
            <a class="dropdown-item" href="#">Third action</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <!-- Button trigger modal. -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" name="buttonTrigger">Launch demo modal</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModallabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModallabel">Modal Title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" name="buttonClose">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Modal body heading</h2>
            <p>Modal body text description</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" name="btnFooter">
              Close
            </button>
            <button type="button" class="btn btn-primary" name="btnSave">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
