

.empresa-info {
  background: white;
   /* no-repeat; */
   background-size: cover;
}

.empresa-side-pic {
  background-color: lightgray;
  padding: 100%;
  background-size: cover;
}

.hacalogo{
  vertical-align: baseline;
  height: 60px;
  width: 160px;
}

#f05297450 {
  height: 104px;
  width: 104px;
}

#redim-cookiehint {
  width: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  position: fixed;
  font-size: 16px;
  box-shadow: 0 -5px 5px -5px #333;
  background-color: #B20000;
  z-index: 9999999;
  bottom: 0px;
  text-align: center;
}

#redim-cookiehint .cookiecontent {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: block;
}
