

.empresa-info {
  background: white;
   /* no-repeat; */
   background-size: cover;
}

.empresa-side-pic {
  background-color: lightgray;
  padding: 100%;
  background-size: cover;
}

.hacalogo{
  vertical-align: baseline;
  height: 60px;
  width: 160px;
}

#f05297450 {
  height: 104px;
  width: 104px;
}
